# Variables and Data Types
**[1] Variables**<br>
**[2] Data types**<br>
**[3] Operators**<br>
**[4] Input & ouput**<br>
**[5] Error**

## [1] Variables

- **Variable reassignment**

In [2]:
x = 10
print (x)
x = "hello world"
print (x)

10
hello world

- **Variable naming rules**

In [5]:
#Variable name cannot be a Python reserved word 
class01 = "A001"

In [8]:
#Variable name cannot contain spaces
Itemprice = 150

In [10]:
#First character must be a letter or an underscore
name1 = 30

In [ ]:
#Variable names are case sensitive
WORD = 'first'
word = 'second'
print(Word)
print(word)

- **python reserved words (key words)**

In [3]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

- **Types of values/variables**

In [ ]:
type("hello world")

In [ ]:
type(100.1)

In [ ]:
type("100.1")

In [ ]:
x = 10
type(x)

## [2] Data types

### [2.1] String

- **Use single or double quote marks**

In [ ]:
str1 = 'hello world'
str2 = "hello world"

- **Indexing and slicing**

In [ ]:
# the length of a string
len(str1)

In [ ]:
print(str1[0])
print(str1[0:2])

## Exercise.A

**(A.1) Define a variable with the name "mystr" and assign the string value "jupyter notebook" to this variable.**

**(A.2) Print the type of "mystr".**

**(A.3) Get the length of the variable "mystr"
.**

**(A.4) Get the 5th character in "mystr".**

**(A.5) Get the first three characters in "mystr".**

- **Build-in methods**

In [ ]:
#converts the string to uppercase
str1.upper()

In [ ]:
# a specified values is replaced with a sepcified value
str1.replace("world","John")

In [ ]:
# the number of times a specified value appears in the string
str1.count("o")

In [ ]:
# search the place of a letter/substring
str1.find("w")

In [ ]:
str1.find("world")

In [ ]:
str1.find("word")

- **"in" operator**

In [ ]:
"world" in str1

In [ ]:
"word" in str1

## Exercise.B

**(B.1) Define a variable with the name "message" and assign the string value "Welcome to BI" to this variable.**

**(B.2) Convert 'message' to uppercase.**

**(B.3) Replace "BI" with "Oslo".**

**(B.4) Find the index position of the substring "to".**

**(B.5) Check if "message" contains the word "BI".**

### [2.2] Numbers

In [ ]:
x = 2
y = 5.7
print(type(x))
print(type(y))

- **Type conversion**

In [ ]:
type(float(x))

In [ ]:
type(int(y))

- **Common operations**

In [ ]:
#returns the absolute value of the given number
x = -9
abs(x)

In [ ]:
# round a number
y = 21.9257
print(round(y))
print(round(y,2))

## [3] Operators

### [3.1] Math operators

In [ ]:
x = 5
y = 2

In [ ]:
# operator "/" divides two number and returns a floating point value
x/y

In [ ]:
# operator "/" divides two number and rounds the value down
x//y

In [ ]:
# operator "%" returns the remainder left over when one operand is divided by a second operand
x%y

### [3.2] Comparison operators

In [ ]:
x > y

In [ ]:
x == y

In [ ]:
x <= y

### [3.3] String operations

- **Math operators**

In [ ]:
word1 = "hello"
word2 = "world"

In [ ]:
print(word1 + word2)
print(word1 * 3)

- **Comparison operators**

In [ ]:
word1 = "COVID-19"
word2 = "Covid-19"

In [ ]:
word1 == word2

In [ ]:
#ifnore case when comparing
word1.casefold() == word2.casefold()

## Exercise.C

**(C.1) Define a variable $n=15.27391$. Print the type of $n$.**

**(C.2) Round $n$ to only two decimals.**

**(C.3) Divide  ùëõ  by 2.**

**(C.4) Use comparison operator to check if  $n‚â§15$.**

**(C.5) Define a variable school = "BI". Use comparison operators to check whether the value of "school" is equal to "bi".**

### [3.4] More operators

- **Logical operators**

In [ ]:
x = 5
y = 2

In [ ]:
x == 5 and y ==2

In [ ]:
x > 5 and y ==2

- **Assignment operators**

In [ ]:
x = 2

In [ ]:
x +=1 
x

## [4] Input & Output

### [4.1] Input

In [ ]:
name = input('Enter your name:')
print('Hi', name)

In [ ]:
x1 = int(input('Enter a number:'))
x2 = int(input('Enter a number:'))
print ('The sum of the two numbers you have entered is:', x1+x2)

## Exercise.D

**(D.1) Define an input box named course_id and print out the following message.**<br>
Expected result:
<code>
Enter course ID: EBA3400
You have registered for the course EBA3400
</code>

**(D.2) Define an input box named number and check if number > 0.**<br>
Expected result:
<code>
Enter a number: 10
True
</code>

### [4.2] Output

- **print function**

In [ ]:
text = "hello world"
print(text)

- **print multiple items**

In [ ]:
# items are automatically separated by a space
ctry1 = "Iceland"
ctry2 = "Portugal"
ctry3 = "Finland"
print("Countries with a low risk", ctry1, ctry2, ctry3)

In [ ]:
# argument ‚Äúsep‚Äù and ‚Äúend‚Äù
ctry1 = "Iceland"
ctry2 = "Portugal"
ctry3 = "Finland"
print("Countries with a low risk", ctry1, ctry2, ctry3, sep = ", ", end = ".")

- **print multiple lines**

In [ ]:
# use "\n"
print("There were 315 confirmed cases in Norway.\nThe R rate is 1.0.")

In [ ]:
ctry1 = "Iceland"
ctry2 = "Portugal"
ctry3 = "Finland"
print("Countries with a low risk", ctry1, ctry2, ctry3, sep = "\n")

## Exercise.E

**(E.1) Define three variables, n1 = 30, n2 = 08, n3 = 2021. Print all variables in one line.**<br>
Expected result:
<code>
30 08 2021
</code>

**(E.2) Use the variables defined in (E.2). Print all variables in one line and connect them with "-".**<br>
Expected result:
<code>
30-08-2021
</code>

**(E.3) Try to modify the following code to print sentences line by line.**<br>
Expected result:
<code>
Solve complex business problems with analytical thinking.
Work alongside data scientists to find new insights.
Become part of a promising new field aiming to disrupt traditional banks and financial institutions.
</code>

In [ ]:
print("Solve complex business problems with analytical thinking. Work alongside data scientists to find new insights.Become part of a promising new field aiming to disrupt traditional banks and financial institutions.")

- **str.format() method**<br>
%d for integer<br>
%f for float

In [ ]:
case_num = 315
country = "Norway"
print("There were {} confirmed cases in {}.".format(case_num, country))

In [ ]:
r = 0.9684
print ("The interest rate is {}.".format(r))

In [ ]:
r = 0.9684
print ("The interest rate is {:.2f}.".format(r))

- **Old %string formatter** <br>
%d for integer<br>
%f for float<br>
%s for string

In [ ]:
case_num = 315
country = "Norway"
print("There were %d confirmed cases in %s." %(case_num, country))

In [ ]:
r = 0.9684
print ("The interest rate is %f" %r)

In [ ]:
r = 0.9684
print ("The interest rate is %.2f" %r)

## Exercise.F

**(F.1) Define two variables, x = 5.5, y = 20. Use format() to print the following text.**<br>
Expected result:
<code>
The first number is 5.5 and the second number is 20.
</code>

In [56]:
x = 5.5
y = 20
print("The first number is {} and the second muber is {}.".format(x, y))

The first number is 5.5 and the second muber is 20.

In [59]:
mystr = "The first number is {} and the second muber is {}."
mystr.format(x, y)

'The first number is 5.5 and the second muber is 20.'

**(F.2) Use %formatter to print the same text.**<br>

In [62]:
print("The first number is %.2f and the second muber is %d." %(x, y))

The first number is 5.50 and the second muber is 20.

## [5] Error

- **Syntax errors**

In [63]:
print "hello world"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hello world")? (<ipython-input-63-6d29d8fb337c>, line 1)

- **Logic errors**

In [66]:
x = float(input("Enter a number: "))
y = float(input("Enter a number: "))

z = (x+y)/2
print('The average of the two numbers you have enterd is',z)

Enter a number: 3
Enter a number: 4
The average of the two numbers you have enterd is 3.5

- **Built-in exceptions**

In [68]:
#Type error
str1 = 50
str1/2

25.0

In [72]:
#Name error
New = "hello"
print(new)

NameError: name 'new' is not defined

In [73]:
# Zero division error
10/0

ZeroDivisionError: division by zero

In [76]:
mystr = "hello"
mystr[4]

'o'